@import "settings";
@import "foundation";

/*
@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/visibility";
@import "foundation/components/dropdown";
@import "foundation/components/dropdown-buttons";
@import "foundation/components/buttons";
@import "foundation/components/type";
@import "foundation/components/forms";
*/

@import "monroe";

// colors


$twitter : #55ACEE;

html { 
  //background: url('http://lorempixel.com/1400/1000/') no-repeat center center fixed; 
  //background: url(../images/mebackground.jpg) no-repeat center center fixed; 
  //background-color: rgba(77, 170, 171, 0.61);
  
  //background: url('../images/vintageocean2.jpg') no-repeat center center fixed;
  //height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background: url('../images/vintageocean2.jpg') no-repeat center center fixed;
  //height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.off-canvas-wrap {
	//height: 100%;
}

.antiquewhite {
	border: white dashed 2px;
	padding: 5px 15px;
	margin-bottom: 10px;
	//background-color: rgba(250,235,215,0.66);
	background-color: rgba(78,81,121,.89);
}

h1 {
	font-family: 'limelightregular', Roboto, Arial, sans-serif;
	line-height: .88;
	}

.rust {
	font-family: 'nexarustsans-black01-webfont', Roboto, Arial, sans-serif !important;

}

.main {
	padding-top: 32px;
	min-height: 320px;
	padding-bottom: 30px;

}

.full-main {
	//padding-top:22px;
	//background-color: rgba(0, 0, 0, 0.12) ;
	/*
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;	
	*/

	min-height: 100%;
	//padding-bottom: 44px;
	margin-bottom: 33px;
	//background-image: url(../images/topography.png);

}

.hero-content {
	background: -webkit-linear-gradient(#000000 .83%, rgba(0,0,0,0.47) 67.22%);
	padding: 10px 15px;
	border: solid 1px white;
	color: white;
}


.row {
	@media #{$medium-only} { 
		//margin-left: 1.1em;
		//margin-right: 1.1em;
	}
}

.full {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
	padding-bottom: 10px;
	/*
	-webkit-box-shadow: 0px 4px 6px -6px black;
	   -moz-box-shadow: 0px 4px 6px -6px black;
	   */
	        box-shadow: 0px 8px 20px -15px black;

}

.fat {
	width: 85%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.rectangle {
	max-height: 500px;
	//background-color: grey;
}

.outlined {
	border: solid 1px black;
}

.main-section {
	padding: 1.5em;
}

.full-height {
	height: 100%;
}

.headline {
	border-bottom: $white-smoke 1px solid;
	@media #{$small-only} { 
		line-height: 1.9;
	}
	
	
}

.biography {
	max-height: 100px;

}

.happenings {
	overflow-y: auto;
}


//nav

.nav { // for ofa nav, to left align
	margin-left: 0;
	
}

.nav-name {
	
	margin-left: 0 !important;
	padding-left: 0 !important;
	
	:hover {
		background-color: $silver;
		a {
			color: $primary-color;
		}
	}

	h1,h2  {
		font-size: 1rem;
		//padding: 0 11px;
		
		a {
			color: $ghost;
			padding: 0 11px;

		}
		
	}
	
	@media #{$medium-up} { 
		h1,h2 {
			font-size: 1.25rem;
		}
	}
	
}

//headers

#intro {
	height: 495px;
	position: relative;
	//border-bottom: 4px inset $oil;	
	#tumblr-box {
		height: 100%;
		//border: solid black 3px;
		//border-right: 2px;
		//background: url(https://38.media.tumblr.com/da774980b0f6cbe9ec736da50c820132/tumblr_nd6z6idCDJ1qbs0f7o1_500.jpg) 
	    //-webkit-background-size: cover;
	    //-moz-background-size: cover;
	    //-o-background-size: cover;
	    //background-size: cover;
	    text-align: center;
	    
	    * {
		  position: relative;
		  top: 30%;
		  transform: translateY(-22%);
		}
	}

	#intro-blurb {
		//position: relative;
		height: 100%;
		//border: solid black 3px;
		//border-left: 2px;
		text-align: center;
		
		> * {
			  position: relative;
			  top: 30%;
			  //transform: translateY(-22%);
		}
	}
}

#introduction {
	min-height: 100%;
}

.skill-coins {
	* > {
		
	}
}

.skill-image {
	max-height: 180px;
	max-width: 180px;
	display: block;
	margin: auto;
	padding: 7px 0;
	img {

		height: auto;
		max-width: 100%;
		border-radius: 50%;
	}
}

#portfolio-body {
	> .row {
		margin-bottom: 10px;
	}
}



// Footer Styles
.footer {
	background-color: $calipoppy;
	text-transform: uppercase;
	color: $silver;
	position: fixed;  //lets stick our footer to the bottom for a nice, full page app feel
	bottom: 0;	// feeling iffy, but it seems to be working
	right: 0;
	left: 0;
	
	ul {
		margin-bottom: 0;
	}
	
	p {
		margin-bottom: 0;
	}
	
	.breadcrumbs {
		border: none;
		border-width: 0; 
		background-color: transparent ; 
		border-color: transparent; 
		border-radius: 0; 
		
		a {
			color: $smoke;
		}
		> * {
			color: $heavysugar;
			font-size: inherit;
		}
	}
	
	> .full {
		padding-bottom: 0;
		
	}
	
	> * not .row {
		padding: 0.5625rem 0.875rem 0.5625rem;
	}
}

.timeline-icon {
	padding: 1px;
	margin-left: 3px;
	margin-top: 11px;
	//float: right; 
	max-height: 32px; 
	max-width: 32px;
	
}

// git 'Content' comes with its own fucked styles that I figure I may as well just hack away
.git {
	background-color: $white-smoke;
	background-image: url('../images/icons/github_png/GitHub-Mark-120px-plus.png');
	background-size: auto;
	background-position: right -50px top;
	background-repeat: no-repeat;
	
	border-color: black solid;
	.time {
		display: none;
	}
	.details>a {
		display: none;
	}
	.details ul {
		list-style: none;
		margin: 0;
	}
	.details ul li span {
		padding-left: 1.1875rem;
	}
	
}

.tweet {
	background-color: $twitter;
	background-image: url('../images/icons/Twitter_logo_white.png');
	background-size: contain;
	background-position: right -50px top;
	background-repeat: no-repeat;
}


	ul.tag-list {
		padding: 15px 0;
		padding-bottom: 0;
		
		li {
			margin-left: .25rem;
		}
	}
// portfolio styles

.portfolio-body {
	h1, h2 {
		font-size: $h1-font-size;
	}
	@media #{$medium-only} { 
		h1,h2 {
			font-size: $h1-font-reduction;
		}
	}
	@media #{$small-only} { 
		h1, h2 {
			font-size: $h3-font-reduction;
		}
	}
	
	.skill-list {
		ul {
			padding: 15px 0;
			padding-bottom: 0;
			margin: 0 auto 1.0625rem auto;
			margin-left: -1.375rem;
			margin-right: 0;
			list-style: none;
			overflow: hidden;
			
			li {
				list-style: none;
				float: left;
				display: block;
				margin-left: .25rem;
			}		
		}
	}

	.portnav {
		border-right: 1px solid $jet;
		
	}
	
	.portinfo {
		border-right: 1px solid $jet;
		
	}
	
	.portwindow {
		
	}
}

	.skill-list {
		padding: 15px 0;
		padding-bottom: 0;
		margin: 1rem 0;
		list-style: none;
		overflow: hidden;
		
		li {
			list-style: none;
			float: left;
			display: block;
			margin-left: .33rem;
			margin-bottom: .33rem;
			
			.button {
				margin-bottom: .11rem;
			}
		}		
	}