

<div class="row">
	
	<div class="large-7 columns panel">
	
		<h3>Get in Touch!</h3>
		<p>I'd love to hear from you. If you're interested in working on a web/mobile app, designing a personal website for your self or business, or other opportunities. Follow me on twitter and/or github. Thanks!</p>
		
		<div class="section-container tabs" data-section>
			<section class="section">
			  <h5 class="title "><a href="#panel1">Contact Me</a></h5>
			  <div class="content" data-slug="panel1">
			    <form>
			      <div class="row collapse">
			        <div class="large-2 columns">
			          <label class="inline">Your Name</label>
			        </div>
			        <div class="large-10 columns">
			          <input type="text" id="yourName" placeholder="Jane Smith">
			        </div>
			      </div>
			      <div class="row collapse">
			        <div class="large-2 columns">
			          <label class="inline"> Your Email</label>
			        </div>
			        <div class="large-10 columns">
			          <input type="text" id="yourEmail" placeholder="jane@smithco.com">
			        </div>
			      </div>
			      <label>What's up?</label>
			      <textarea rows="4"></textarea>
			      <button type="submit" class="radius button">Submit</button>
			    </form>
			  </div>
			</section>

		</div>
	</div>
	
	<div class="large-5 columns" ng-controller="FindMeController as stalk" ng-init="">
		<h3 class="headline"> Happenings 
			<a href="#"><img class="timeline-icon right" src="themes/homeOtw/images/icons/github_png/GitHub-Mark-32px.png" /></a>
			<a href="#"><img class="timeline-icon right" src="themes/homeOtw/images/icons/circle_twitter.png" /></a>
			<a href="#"><img class="timeline-icon right" src="themes/homeOtw/images/icons/circle_pencil.png" /></a>
		</h3>
		<div class="tweet panel" ng-repeat="tweet in tweets">
			<p>{{tweet.content}}</p>
			<p>{{tweet.published}}</p>

		</div>
		<div class="git panel" ng-repeat="commit in commits">
			<p>{{commit}}</p>
			<p>{{commitpublished}}</p>
		</div>
	</div>
 
</div> <!-- end row -->

       
     
     
       
     
   
     
       
     
     
     
       
     
      <div class="reveal-modal" id="mapModal">
        <h4>Where We Are</h4>
        <p><img src="http://placehold.it/800x600"/></p>
     
         
        <a href="#" class="close-reveal-modal">×</a>
      </div>
    