

<div class="row medium-uncollapse" style="max-width: 1200px; margin: 0 auto;">

	<div class="medium-5 columns" >
		<h3 class="headline"> Happenings 
			<!--<a href="#"><img class="timeline-icon right" src="themes/homeOtw/images/icons/github_png/GitHub-Mark-32px.png" /></a>-->
			<span data-tooltip aria-haspopup="true" class="has-tip tip-right" style="float: right !important;" title="Coming soon ;)"><img class="timeline-icon right" src="themes/homeOtw/images/icons/circle_pencil.png" /></span>
			<img class="timeline-icon right" src="themes/homeOtw/images/icons/circle_twitter.png" />
		</h3>
		<aside id="twitterWidg">
			<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/athaax" data-widget-id="568263214022930432">Tweets by @athaax</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
 	twttr.widgets.load();</script>

		</aside>

		<script>
		/*
			if (window.twitterWidgetHtml) {
				$('#twitterWidg').html(window.twitterWidgetHtml);
				twttr.widgets.load()

			} else {

				function cacheTweets() {
					window.twitterWidgetHtml = $("#twitterWidg").html();
				}
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";js.setAttribute('onload', "twttr.events.bind('rendered',function(e) {cacheTweets()});");fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");		
			}

		*/
		</script>
		<!--
		<div class="tweet panel" ng-repeat="tweet in tweets">
			<p>{{tweet.content}}</p>
			<p>{{tweet.published}}</p>

		</div>
		<div class="git panel" ng-repeat="commit in commits">
			<p>{{commit}}</p>
			<p>{{commitpublished}}</p>
		</div>
		-->
	</div>
 

	<div class="medium-7 columns ">
		<h3 class="headline">Get in Touch!</h3>
		<div class="panel">
			<p>I'd love to hear from you. If you're interested in working on a web/mobile app, designing a personal website for your self or business, or other opportunities. Follow me on twitter and/or github. Thanks!</p>
			
			<div class="section-container tabs" data-section>
				<section class="section">
				  <h5 class="title "><a href="#panel1">Contact Me</a></h5>
				  <div class="content" data-slug="panel1">
				    <form>
				      <div class="row collapse">
				        <div class="large-2 columns">
				          <label class="inline">Your Name</label>
				        </div>
				        <div class="large-10 columns">
				          <input type="text" id="yourName" placeholder="Jane Smith">
				        </div>
				      </div>
				      <div class="row collapse">
				        <div class="large-2 columns">
				          <label class="inline"> Your Email</label>
				        </div>
				        <div class="large-10 columns">
				          <input type="text" id="yourEmail" placeholder="jane@smithco.com">
				        </div>
				      </div>
				      <label>What's up?</label>
				      <textarea rows="4"></textarea>
				      <button type="submit" class="radius button">Submit</button>
				    </form>
				  </div>
				</section>
			</div>
		</div>
	</div>
	
</div> <!-- end row -->
