
<div class="row " id="portfolio-body" style="max-width: 1200px; margin: 0 auto; ">
	<div class="medium-12 columns">
		<div class="row" data-equalizer>
	    	<div class="medium-6 large-5 columns" data-equalizer-watch>
				<section style="text-align: center;" >
					<h2 ng-show="project.Title"> {{project.Title}} </h2>
					<ul class="button-group small round" style="display: inline-block;" >
						<li ng-show="project.Website"><a href="{{project.Website}}" class="radius small button">View Live</a></li>
						<li ng-show="project.GitHub"><a href="{{project.GitHub}}" class="radius small button">View on GitHub</a></li>
    				</ul>
				</section>
				<section class="panel" ng-show="project.Contribution">
					<h4 class="headline">Contributions</h4>
					<p> {{project.Contribution}} </p>
				</section>
			</div>
			<div class="medium-6 large-7 columns"  ng-show"project.imagepath" >
		    	<img ng-show"project.imagepath" src="{{project.imagepath}}" alt="{{project.title}}" />
		    </div>
	    </div> <!-- end row -->
	    <!--
		<div class='row'  >
	        <div class="medium-7 columns">

	        	<!- -
				<section class="panel"  data-equalizer-watch>
					<h2 class="headline"> Skills </h2>
					<ul class="skill-list">
					  <li ng-repeat="(key, value) in project.project.Skills">
					    <a ng-click="getSkill({{key}})" class="tiny button"> {{value}} </a>
					  </li>
					</ul>
				</section >
				- ->
			</div>
			<div class="medium-5 columns" >
				<section class="panel"  >
					<h3 class="headline"> Background </h2>
					<p> {{project.Content}} </p>
				</section>
			</div>
		</div>	
		-->
		<div class="row">
			<div class="medium-8 columns end">
			<!--
				<section class="panel">
					<h2 class="headline">Contributions</h2>
					<p> {{project.project.History}} </p>
				</section>
			-->
			</div>
		</div>      
    </div>
</div>

